<div class="card-body" id="card-body">
  <div class="row">
    <h5 class="card-title">Registro</h5>
  </div>
  <form [formGroup]="form" (ngSubmit)="createUser()">
    <div class="mb-2">
      <label> <i class="fa-solid fa-user"></i> Nombres </label>
      <input
        class="form-control"
        formControlName="firstName"
        name="firstName"
        type="text"
        placeholder="Escribe tus Nombres"
      />
      <span
        *ngIf="
          form.get('firstName')?.hasError('required') &&
          form.get('firstName')?.touched
        "
      >
        El campo Nombres es <strong>requerido</strong>
      </span>
    </div>
    <div class="mb-2">
      <label> <i class="fa-solid fa-user"></i> Apellidos </label>
      <input
        class="form-control"
        formControlName="lastName"
        name="lastName"
        type="text"
        placeholder="Escribe tus Apellidos"
      />
      <span
        *ngIf="
          form.get('lastName')?.hasError('required') &&
          form.get('lastName')?.touched
        "
      >
        El campo es <strong>requerido</strong>
      </span>
    </div>
    <div class="mb-2">
      <label><i class="fa-solid fa-envelope"></i> Email</label>
      <input
        class="form-control"
        formControlName="email"
        name="email"
        type="email"
        placeholder="Escribe tu email"
      />
      <span
        *ngIf="
          form.get('email')?.hasError('required') && form.get('email')?.touched
        "
      >
        El campo email es <strong>requerido</strong>
      </span>
      <span
        *ngIf="
          form.get('email')?.hasError('email') && form.get('email')?.touched
        "
      >
      Por favor, introduce un email válido.
      </span>
    </div >
    <div class="mb-2">
      <label> <i class="fa-solid fa-lock"></i> Contraseña</label>
      <input
        class="form-control"
        formControlName="password"
        name="password"
        type="password"
        placeholder="************"
      />
      <span
        *ngIf="
          form.get('password')?.hasError('required') &&
          form.get('password')?.touched
        "
      >
        El campo es <strong>requerido</strong>
      </span>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" formControlName="admin" name="admin" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label">Administrador</label>
      <span
      *ngIf="
        form.get('password')?.hasError('required') &&
        form.get('password')?.touched
      "
    >
      El campo es <strong>requerido</strong>
    </span>
    </div>
    <div class="row mt-3" style="background-color: #002999">
      <button  [disabled]="form.invalid" class="submit text-white btn btn-primary" type="submit">
        Suscribirse
      </button>
    </div>
  </form>
</div>
