<div class="backgroundColor">
  <!-- INFO -->
  <div
    class="rounded m-2 p-2 col"
    style="
      position: absolute;
      height: 10rem;
      width: 15rem;
      background-color: #ffffff4f;
      color: #fff;
    "
    [style.box-shadow]="'1px 1px 5px 5px ' + initialColor"
  >
    <h5 class="pb-2">
      Porfavor no ingresar contraseñas personales es una página meramente de
      practica
    </h5>
    <h4>!!Gracias!!</h4>
  </div>
  <!-- ADMINS -->
   <div *ngIf="admin">
    <app-admin></app-admin>
  </div>
  <!-- LOGIN Y REGISTER -->
   <div *ngIf="!register">
    <app-login></app-login>
  </div>
  <div *ngIf="register">
    <body class="backgroundColor">
      <div
        class="container d-flex justify-content-center align-items-center"
        style="height: 800px"
      >
        <div
          #miDiv
          class="card"
          style="width: 30rem; border-color: #fff"
          [style.box-shadow]="'1px 1px 5px 5px ' + initialColor"
        >
          <div class="card-body" id="card-body">
            <div class="row">
              <h3 class="card-title">Ya estas Logueado</h3>
            </div>
           

            
            <h4>Elige un color</h4>
            <input type="color" (input)="cambiarSombra($event)" value="{{initialColor}}"/>
            <br>
            <button
              class="btn btn-primary"
              *ngIf="active"
              (click)="savedColor()"
            >
              Guardar color elegido
            </button>
            <br />
            <div>
              <h5>¡¡Muchas gracias por probar la pagina!!</h5>
            </div>
            <div class="row">
              <button class="btn btn-primary" (click)="LogOut()">
                Cerrar sesion
              </button>
            </div>
          </div>

        </div>
      </div>
    </body>
  </div>
</div>
