.card {
  background-color: rgba(255, 255, 255, 0.11);
  color: white;
}
.backgroundColor{
  background: rgb(3,0,52);
  background: linear-gradient(110deg, rgba(3,0,52,1) 0%, rgba(19,16,73,1) 39%, rgba(0,5,255,1) 100%);
  height: 800px;
}